:root {
--colo_accent:#A8633A;
--colo1:#6EF5A8;
--colo1_low:#43A86F;
--colo2:#f5873d;
--colo2_low:#a87332;  
 --gbimg:url(https://i.imgur.com/zBVtoIR.png);
--header: url(https://images2.imgbox.com/1b/a5/4bb6Hgju_o.png);
    --neutral: #222;
    --neutralDark: #111111;
    --neutralDarker: #171717;
    --contrast: #e5e5f0;
    --contrastLight: #F4F4F4;
    --contrastLighter: #40485e;
    --accentClr: #f5873d;
    --accentClrDark: #a87332;
    --textColor: #fcfaff;
    --textColorAccent: #e5e5f0;
    --border: 1px solid #2b2e3b;
    --shadowBox: 0 0 20px var(--neutralDark);
  
  
    --FAM-pluginBackground: #1e212a;
    --FAM-chatBackground: #181a21;
    --FAM-textareaBackground: #1e212a;
    --FAM-msgBackground: #0B0E17;
    --FAM-myMsgBackground: #1e212a;
    --FAM-quoteBackground: rgba(255,255,255,0.04);
    --FAM-gradient: linear-gradient(-90deg, rgba(30,33,42,1) 20%, rgba(30,33,42,0) 100%);
    --FAM-gradientTop: linear-gradient(180deg, rgba(24, 26, 33,1) 20%, rgba(24, 26, 33,0) 100%);
    --FAM-gradientBot: linear-gradient(0deg, rgba(24, 26, 33,1) 20%, rgba(24, 26, 33,0) 100%);
    --FAM-border: 1px solid #313543;
    --FAM-shadow: 0 0 20px var(--neutralDark);
    --FAM-sleepModeBackground: rgba(0, 0, 0, 0.5);
    --FAM-newMsgAnimation: rgb(255, 255, 255,.5);
    --FAM-accentClr: #7583ff;
    --FAM-secondClr: #333c92;
    --FAM-fontClr: #c7c5cd;
    --FAM-fontLightClr: #9a96a3;
    --FAM-linkClr: #7583ff;
    --FAM-titleClr: #f0f0f8;
    --FAM-buttonsClr: #E5E5E5;
  

}


a {
  font-weight: 600;
    text-decoration: none;
    color: var(--textColorAccent);
}


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    background-image: -webkit-linear-gradient( 45deg, transparent 33%, var(--colo_accent) 33%, white 66%, transparent 66%, transparent );
}

html,
body {
    background: var(--neutral);
    font-family: var(--font);
    font-size: var(--normal-size);
    color: var(--textColor);
  font-family:'Inter';
    margin: 0 !important;
}

.hashtagheader {
display: flex;
    place-content: center;
    margin-top: -10px;
    z-index: 100;
  position: relative;
}

.hashtagheader span {
      background:var(--textColor) ;
    font-family: 'Inter';
    text-transform: lowercase;
  font-weight:900;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 25px;
    margin: 0 5px;
  transition:1s;
    color: #111111;
}

.hashtagheader span:hover {
  background: #111111;
    color: var(--textColor);
  transition:1s;
}

.hashtagheader span:nth-of-type(even):hover {
    transition:1s;
    color: #111111;
  background:var(--textColor);
}

.hashtagheader span:nth-of-type(even) {background: #111111;
    color: var(--textColor);}

.main_TKT {
      z-index: 99;
  position: relative;
  backdrop-filter: brightness(0.5) blur(3px);
}
.stage {
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-left: 1rem;
    position: absolute;
  z-index: 90;
    bottom: 30vh;
    border-radius: 10px;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
}

.header_tkt:hover + .stage .wrapper .text{
  text-shadow: 5px 5px  black;
  transition:1s ease;
    -webkit-text-stroke: 1px white;
}

.header_tkt:hover + .stage .sous_titre {
        transition:1s ease;
     color:var(--neutralDarker);
    background: var(--accentClr);
}

.header_tkt:hover > .img_header .header3 {
  filter:blur(0px);
      transition:2s ease;
    transition-delay:.5s;
}

.slash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  transform-origin: center center;
  width: 0.3rem;
  height: 145%;
  background: var(--accentClr);
  z-index: 4;
  animation: slash 12s ease-in;
}

.sous_titre {
  opacity:0;
  animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.5s;
  position: absolute;
    bottom: 28vh;
    font-family: Inter;
    font-weight: 400;
    color: var(--accentClr);
    background: rgba(26 26 26 / 59%);
    padding: 1px 10px;
    border-radius: 5px;
  z-index: 99;
    font-style: italic;
    margin-left: 50vh;
        transition:1s ease;
}

.text {
  position: relative;
  font-size: 5rem;
      transition:1s ease;
  color: transparent;
text-shadow: 5px 5px  white;
    -webkit-text-stroke: 1px black;
      font-family: arial;
  font-weight: 900;
  white-space: nowrap;
}
.text--backing {
  opacity:0;
animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 1ms;
    animation-delay: 1.9s;
}

@keyframes fadein {
  
    from {
        opacity:0;
    }
    to {
       opacity:1;
    }
  }
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
       opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
       opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.text--left {
  position: absolute;
  top: 0;
  left: 0;
  width: 51%;
  height: 100%;
  overflow: hidden;
}
.text--left .inner {
  transform: translateX(100%);
  animation: text-left 2s ease-in-out;
}
.text--right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.text--right .inner {
  transform: translateX(-200%);
  animation: text-right 2s ease-in-out;
}

@-moz-keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@-webkit-keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@-o-keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@-moz-keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-o-keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-100%);
}
  }
@keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-100%);
  }
}










.header_tkt {
  width: 100%;
    height: 100vh!important;
    border: 0px;
    padding: 0px;
}

.img_header {
display: flex;
    place-content: center;
}

.header1 {
  background: url(https://i.imgur.com/2UWey4d.png);
      background-position-x: center;
    width: 100%;
    height: 100vh;
  background-size: contain;
  background-repeat:no-repeat;
      position: absolute;
    z-index: 3;
}


.header3 {
  background: url(https://i.imgur.com/2Ny3i6u.png);
      background-position-x: center;
    width: 100%;
    height: 100vh;
  background-size: contain;
  background-repeat:no-repeat;
      position: absolute;
    z-index: 99;
  filter:blur(2px);
        transition:2s ease;
    animation-fill-mode: forwards;
    animation: bigtruc 2s ease-in-out;
}

@-moz-keyframes bigtruc {
  0% {
       height: 130vh;
  }
  100% {
 height: 100vh;
  }
}
@-webkit-keyframes bigtruc {
  0% {
   height: 130vh;
  }
  100% {
  height: 100vh;
  }
}
@-o-keyframes bigtruc {
  0% {
   height: 130vh;
  }
  100% {
   height: 100vh;
  }
}
@keyframes bigtruc {
  0% {
 height: 130vh;
  }
  100% {
height: 100vh;
  }
}

.header2 {
  
      background: url(https://i.imgur.com/fvI21jj.png);
    z-index: 0;
    filter: blur(4px) grayscale(0.5);
    background-position-x: center;
    width: 100%;
    height: 100vh;
    transform: scale(1.2);
    margin-left: -10vw;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  
/****    background: url(https://i.imgur.com/fvI21jj.png);
    width: 95vw;
    height: 100vh;
      position: absolute;
overflow:hidden;
    z-index: 0;
    filter: blur(4px) grayscale(0.5);
  background-repeat:no-repeat;
  background-size:fill; ***/
}
  /***************** PA ****/
  
  .PA_TKT {
margin: 100px auto;
    height: 450px;
    width:1000px;
    font-family: 'Inter';
    position: relative;
background: var(--neutralDark);
    backdrop-filter:blur(5px);
mix-blend-mode: normal;
border-radius: 10px;
    display:flex;
}

.paprofil_tkt {
width: 60vw;
      display: grid;
    grid-gap: 3vh;
    align-self: center;
  height: 320px;
  margin-left:3vh;
}

.mainpa {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    display: grid;
}

.paannexe_tkt {
    display: grid;
    grid-gap: 3vh;
    align-self: center;
  height: 320px;
grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
}

.a1:hover > .divf {
  transition: 1s;
    transform: scale(1);
    filter: blur(2px) brightness(0.5);
}

.a1:hover > .divtxt {
  margin-top:-1000px!important;
    transition: 1s;
}

.a1:hover > .divg {
    margin-top:2vh;
    transition: 1s;
}

.divg  {
transition: 1s;
    margin-top: 1000px;
  margin-bottom:20px;
  margin-right:9px;
    border-radius: 10px;
    padding: 10px;
    grid-row: 1;
  overflow-y:auto;
  overflow-x:hidden;
  font-size: 14px;
    text-align: justify;
    grid-column: 1/2;
    color: var(--textColor);
    z-index: 9;}

.divtxt {
transition: 1s;
margin-top: 250px;
    text-align: right;
    padding: 10px;
    grid-row: 1;
    grid-column: 1/2;
    z-index: 9;
    font-weight: 900;
  background: linear-gradient(90deg, #FFFFFF -19.35%, var(--accentClr) 77.28%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.a1 .divf {
  grid-row: 1;
  grid-column: 1/2;
  transition: 1s;
      transform: scale(1.2);
  filter: blur(0px) brightness(0.8);
  width: 100%;
    height: 320px;
        border-radius: 10px;
      border-radius: 10px;
  background-size:cover!important;
}

.a1:first-child .divf {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.imgur.com/eIL3gOB.jpg);
}

.a1:nth-child(2) .divf {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.imgur.com/VPczLCu.jpg);
}

.a1:nth-child(3) .divf {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.imgur.com/t9OcqPt.jpg);
}

.a1:nth-child(4) .divf {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.imgur.com/rsSbhfG.jpg);
}

.a1 {
    width: 100%;
height: 334px;
    overflow: hidden;
    border-radius: 10px;
    display: grid;
}



.a2 {
    width: 100%;
height: 334px;
    overflow: hidden;
    background-size: cover;
    border-radius: 10px;
    display: grid;
}
input[type="radio"]#tkt_tabpa1 + label {
  margin-left:10px;
}

input[type="radio"]#tkt_tabpa2 + label{
    margin-left: 30px;
}

input[type="radio"]#tkt_tabpa3 + label{
    margin-left: 50px;
}

input[type="radio"]#tkt_tabpa4 + label{
    margin-left: 70px;
}


.pa_staff {
      overflow: hidden;
z-index: 10;
    grid-row: 1;
    grid-column: 1/2;
  display:grid;
}

input#tkt_tabpa1:checked ~ #tabmain1, input#tkt_tabpa2:checked ~ #tabmain2, input#tkt_tabpa3:checked ~ #tabmain3, input#tkt_tabpa4:checked ~ #tabmain4 {
    transition: all ease 1s;
    margin-left: 0px;
    display: flex;
  flex-direction: column;
}

#tabmain1, #tabmain2, #tabmain3 , #tabmain4 {
    transition: all ease 1s;
    display: none;
    margin-left: 500px;
  
}

#tabmain1 {
    font-weight: 900;
    background: linear-gradient(90deg, #FFFFFF -19.35%, var(--accentClr) 77.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-top: -50px;
    padding: 10px;
    justify-content: right;
    z-index: 10;
}

#tabmain2, #tabmain3, #tabmain4  {
color: var(--textColor);
    padding: 10px;
    margin-top: -334px;
    justify-content: right;
    transition:1s;
    z-index: 10;
}

#tabmain2 span , #tabmain3 span , #tabmain4 span  {
z-index: 10;
    margin-top: 280px;
  position:absolute;
    transition: 1s;
    width: 100px;
    opacity: 1;
    font-weight: 900;
    background: linear-gradient(90deg, #FFFFFF -19.35%, var(--accentClr) 77.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#tabmain2:hover a, #tabmain3:hover a, #tabmain4:hover a{
    opacity:1;
    transition:1s;
}

#tabmain2:hover, #tabmain3:hover, #tabmain4:hover  {
  opacity:1;
  transition:1s;
      backdrop-filter: blur(5px);
      background-color: rgb(0 0 0 / 37%);
}

input#tkt_tabpa1:checked ~ .divf {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.imgur.com/rde6PAb.jpg);
  margin-left: 0px;
}

input#tkt_tabpa2:checked ~ .divf {
  background-position: 28% 100%;
    background-size: cover;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://64.media.tumblr.com/c5ea51347317bf0303ebf5f829a268a1/58e2be794de651dc-ca/s500x750/13cb80dc6d9fb55ad830e6b4ea31349b8b8f0855.gif);
      background-size: cover;
  margin-left: 0px;
  background-position: 35% 30%;
}

input#tkt_tabpa3:checked ~ .divf {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://64.media.tumblr.com/7c3d08e1ea2e25cf7bc01936e3cd78b8/ff1a29277b6438ad-99/s540x810/c45ec4b8a21b6d60c5a562767df15b3d83d45635.gif);
    background-size: cover;
  margin-left: 0px;
background-position: 90% 20%;
}

input#tkt_tabpa4:checked ~ .divf {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://64.media.tumblr.com/482a4bd679f855bdb4f3e40b02adcbee/e04e1f5e3e872521-9b/s400x600/50eeea26fbd3ac4c4e1828f57707b3d7aa0faf1d.gif);
  background-size: cover;
  margin-left: 0px;
    background-position: 50% 20%;
}

.pa_staff span {margin-top:200px;}
.pa_staff a {
opacity: 0;
    margin-top: 140px;
    place-self: center;}

.a2 .divf {
  grid-row: 1;
    grid-column: 1/2;
    transition: 1s;
    width: 100%;
height: 334px;
    border-radius: 10px;
    margin-left: 300px;
    background-size: cover!important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://cdnb.artstation.com/p/assets/images/images/002/345/251/large/andreas-rocha-sacredshadows.jpg?1460555681);
}


input[type="radio"]#tkt_tabpa1 , input[type="radio"]#tkt_tabpa2 ,
input[type="radio"]#tkt_tabpa3 , 
input[type="radio"]#tkt_tabpa4{
  display: none;
}

input[type="radio"]#tkt_tabpa1 + label, input[type="radio"]#tkt_tabpa2 + label , input[type="radio"]#tkt_tabpa3 + label, input[type="radio"]#tkt_tabpa4 + label  {
position: relative;
    z-index: 100;
    margin-top: -300px;
    grid-column: 1/2;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    outline: 1px solid #fff;
}
input[type="radio"]#tkt_tabpa1:checked + label, input[type="radio"]#tkt_tabpa2:checked + label,
input[type="radio"]#tkt_tabpa3:checked + label,
input[type="radio"]#tkt_tabpa4:checked + label {
    background-color: var(--textColor);
}

input[type="radio"]#tkt_tabpa1 + label:hover, input[type="radio"]#tkt_tabpa2 + label:hover , input[type="radio"]#tkt_tabpa3 + label:hover, input[type="radio"]#tkt_tabpa4 + label:hover {
      background-color: var(--textColor);
  transition:1s;
  cursor:pointer;
}

.tt_pa {
letter-spacing: 2px;
    font-size: 30px;
    left: 35px;
    top: 15px;
    position: absolute;
    -webkit-text-fill-color: transparent;
    font-family: arial;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--textColor);
    font-style: italic;
}

.pa_nav div:first-child {
  display: grid;
grid-template-columns: repeat(1, auto);
    grid-gap: 8px;
  justify-self: center;
grid-column: 2;
}
.pa_nav {
  display: grid;
    grid-template-columns: 4fr 1fr;
}

.pa_nav a {
position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    height: 20px;
    padding: 5px;
  z-index: 80;
  transition:1s;
    width: 20px;
}
.pa_nav a:nth-of-type(odd) {
    background-color:var(--accentClr);
}
.pa_nav a:nth-of-type(even) {
    background-color:var(--accentClrDark);
}
.pa_nav a:first-child:after {
content:'\e96e';
  z-index:1;
font-family:'cappuccicons';
  color: var(--textColor);
}

.pa_nav a:nth-child(2):before {
content:'\e97e';
font-family:'cappuccicons';
  color: var(--textColor);
}

.pa_nav a:nth-child(3):before {
content:'\e9c2';
font-family:'cappuccicons';
  color: var(--textColor);
}

.pa_nav a:nth-child(4):before {
content:'\ea29';
font-family:'cappuccicons';
  color: var(--textColor);
}

.pa_nav a:nth-child(5):before {
content:'\ea40';
font-family:'cappuccicons';
  color: var(--textColor);
}

.pa_nav a:nth-child(6):before {
content:'\ec73';
font-family:'cappuccicons';
  color: var(--textColor);
}

.pa_nav a:nth-child(7):before {
content:'\ea5d';
font-family:'cappuccicons';
  color: var(--textColor);
}

.pa_nav a:nth-child(8):before {
content:'\e9d0';
font-family:'cappuccicons';
  color: var(--textColor);
}

.pa_nav a:nth-child(9):before {
content:'\ea40';
font-family:'cappuccicons';
  color: var(--textColor);
}

a:hover > infonav {
      opacity: 1;
width:100px;
  transition:1s;
}

.pa_nav a:nth-of-type(even) infonav {
      background: var(--accentClrDark);
  transition: 1s;
}

.pa_nav a:hover:before  {

}

.pa_nav a:hover {
   background: var(--neutralDarker);
transition: 1s;
}

.pa_nav a:hover > infonav {
   background: var(--neutralDarker);
  transition: 1s;
}

infonav{
  transition: 1s;
height: 18px;
width:0px;
      z-index: 2;
    overflow: hidden;
  left: 25px;
    position: absolute;
    font-size: 15px;
    background: var(--accentClr);
      color: var(--textColor);
    padding: 6px 0px;
    border-radius:0 3px 3px 0;
    font-weight: 600;
    text-align: center;
    top: 0px;
    transition:1s;    
    transform-origin: left;
}

.a3 {
      width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
    display: grid;
}

.a3 .divf {
  grid-row: 1;
grid-column: 1/2!important;
    transition: 1s;
    transform: scale(1.2);
    filter: blur(1px) brightness(0.5);
    width: 100%;
    height: 320px;
    border-radius: 10px;
    background-size: cover!important;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.imgur.com/eIL3gOB.jpg);
}

.a3:hover > .divf {
      transform: scale(1);
    filter: blur(0px) brightness(0.2);
  transition:1s;

}


.scenar_pa {
    width: fit-content!important;
    grid-gap: 0!important;
    height: auto;
    grid-row: 1/2;
    grid-column: 1/2!important;
    z-index: 20;
    position: relative;
    overflow: auto;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
}

h11 {
 font-weight: 900;
    background: linear-gradient(90deg, #FFFFFF -19.35%, var(--accentClr) 77.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.scenar_pa .maj {
     background: #131313;
    width: fit-content;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    color: var(--textColor);
      grid-gap: 0!important;
  font-size:12px;

}
.maj p {
max-height: 80px;
  overflow:auto;
padding-right: 5px;
  text-align:justify;
}

.maj span {
      display: flex;
    align-items: center;
}

.maj ba {
    background: linear-gradient(270deg, var(--colo_accent) 0%, var(--accentClrDark) 100%);
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 25px;
    color: black;
    margin: 0 2px;
}
/****************** navbar ********/

.navbar {
    position: absolute;
    justify-self: right;
    background: linear-gradient(225deg, var(--neutralDark), transparent, var(--neutralDark));
    border-bottom: solid 1px var(--neutral);
    border-left: solid 1px var(--neutral);
    border-radius: 0 5px 0 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.mainmenu {
    padding: 5px;
}

a.mainmenu img {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*************** sujets ******************/


.category {
    background: linear-gradient(225deg, var(--neutralDark), transparent, var(--neutralDark));
    border: solid 1px var(--neutral);
    border-radius: 0 0 10px 10px;
    margin-bottom: 25px;
margin-top: -2px;
}

#c1 .img_caat {
  background-image: url(https://i.imgur.com/ZA3t0Cn.png);
  margin-left: 30vw;
}

#c2 .img_caat {
  background-image: url(https://i.imgur.com/tqcGbDE.png);
}


/******** tokyo *******/
#c3 .img_caat {
  background-image: url(https://i.imgur.com/ykKMske.png);
  margin-left: 30vw;
}

/******** fracture *******/
#c4 .img_caat {
background-image: url(https://i.imgur.com/BrbSSsD.png);
    margin-left: 38vw;
}

/******** hors rp *******/
#c5 .img_caat {
background-image: url(https://i.imgur.com/viUa06B.png);
  margin-right: 30vw;
}
#c5 .cate_title .tt_pa, #c5 .cate_title sscat {
  text-align: right;}

#c5 .forum_row {
grid-column: 2;}


/******** ailleurs *******/
#c6 .img_caat {
background-image: url(https://i.imgur.com/1hC8hLX.png);
    margin-left: 40vw;
}

#c2 .cate_title {
text-align: right;}

#c2 .forum_row {
grid-column: 2;}

#c2 .forum_row:nth-of-type(2) {
    grid-column: 2;
}

.category sscat {
  line-height: unset;
    text-align: unset;
  font-size: 20px;
}

#c1 sscat {
  content:"êtes vous prêt à tout sacrifier pour sauver le monde?";
}

.conteneur_cat {
      display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.forums {
      grid-row: 1/3;
    grid-column: 1/3;
  z-index: 20;
    display:grid;
grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.category .img_caat {
  grid-row: 1/3;
    grid-column: 1/3;
    position: relative;
    max-width: 800px;
    width: auto;
    height: auto;
  z-index: 10;
  
}

/* Titre d'une catégorie */
.cate_title {
padding: 50px 35px 0 35px;
}
.cate_title .tt_pa {
    left: auto;
    top: auto;
    position: relative;
  font-size: 70px;
}

.forum_row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background: rgba(0 0 0 / 20%);
    border: solid 1px rgba(0 0 0 / 20%);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 5px;
}

.forum_row:nth-of-type(2) {
  grid-column: 1;
}

.forum_row:nth-of-type(3) {
  grid-column:2;
  grid-row:2;
}

.forum_row:nth-of-type(4) {
  grid-column:2;
    grid-row:1;
}


/* titre d'un forum */
a.forumtitle {
    width: 100%;
    font-size: var(--large-size);
  margin-bottom: 10px;
}

a.forumtitle span {
    color: var(--accentClr);
    font-family: 'Arial';
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    background: var(--neutralDark);
    padding: 2px 40px;
    border-radius: 5px;
}

.forum-img {
  display: none;
}

.forum-img {
    width: 70px;
    height: 70px;
    background-color: var(--neutralDark);
}

.forum_desc span {
  padding: 10px;
  margin: 5px 10px 0px 10px;
  text-align: justify;
}

.forum_desc {
height: 100px;
    overflow: auto;
    border-radius: 10px;
    align-self: center;
    display: grid;
    width: 100%;
    color: var(--textColor);
    background: var(--neutralDark);
  margin-bottom: 15px;
}


.detailpost {
display: flex;
    flex-direction: row;
    padding: 10px;
    background: var(--neutralDark);
    align-items: center;
    border-radius: 10px;
}

.forum_lastpost-avatar {
    width: 60px;
    height: 60px;
}

.forum_lastpost-avatar img {
    background: var(--neutralDark);
    width: 60px;
    height: 60px;
      border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.forum_lastpost {
display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-left: 20px;
    color: var(--textColor);
}



.forum_details {
padding-top: 10px;
    width: 100%;
}


#subforum {
    font-size: 0
}

#subforum a:nth-of-type(even){
  background: var(--accentClr);
    color: var(--neutralDark);
}

#subforum a:nth-of-type(odd){
background: var(--neutralDark);
    color: var(--accentClr);
}

#subforum a:nth-of-type(even):hover{
background: var(--neutralDark);
    color: var(--accentClr);
}

#subforum a:nth-of-type(odd):hover{
  background: var(--accentClr);
    color: var(--neutralDark);
}

#subforum a {
    font-size: var(--little-size);
  transition:.5s;
  padding: 4px 8px;
  border-radius:5px;
    margin-right: 10px;
}

.forum_stats {
  text-transform:uppercase;
    font-weight: 600;
font-size: var(--little-size);
}

/*----- 【 MUSIC PLAYER #08 by @glenthemes 】 -----*/
[glenplayer08]{
	
	/*-- player position --*/
	--MusicPlayer-Position: "bottom left";
	--MusicPlayer-Corner-Offset: 20px;
	
	/*-- album image --*/
	--MusicPlayer-Album-Image-Size: 54px;
	--MusicPlayer-Album-Image-Corner-Roundness: 3px;
	
	/*-- player buttons (play/pause) --*/
	--MusicPlayer-Buttons-Size: 12px;
	--MusicPlayer-Buttons-Color: #ddd;
	--MusicPlayer-Buttons-Padding: 8px;
	--MusicPlayer-Buttons-Border-Size: 1px;
	--MusicPlayer-Buttons-Border-Color: #bbb;
	--MusicPlayer-Buttons-Background: #000000;
	--MusicPlayer-Buttons-Background-Transparency: 45%;
	--MusicPlayer-Buttons-Background-Blur: 3px;
	
	/*-- player song name --*/
	--MusicPlayer-Song-Name-Size: 12px;
	--MusicPlayer-Song-Name-Color: #222;
	
	/*-- player artist name --*/
	--MusicPlayer-Artist-Name-Size: 12px;
	--MusicPlayer-Artist-Name-Color: #777;
	
	/*-- player gap/spacing --*/
	--MusicPlayer-Center-Gap: 14px;
	--MusicPlayer-Text-Line-Spacing: 4px;
	
	/*-- playback settings --*/
	--MusicPlayer-Autoplay: "no";
	--MusicPlayer-Replay: "no";
	
}/* don't delete this line */
/*---- END MUSIC PLAYER ----*/
